<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <div>
        <p>
            I've been curious and interested in infosec since 2017 but never managed to set my foot in it as I lacked
            connections, guidance, knowledge, and path. Then, in early 2019 decided to change that and stop
            procrastinating; find my connections, guidance, and path as I worked my way around stuff. At first,
            I started developing projects written with Python and publish them on
            <a href="https://github.com/Arszilla/" target="_blank">my Github</a>. It was a great way to
            learn and exercise my knowledge of Python. During this time I joined
            <a href="https://discord.gg/infosec" target="_blank">The Many Hats Club</a> where I met
            <a href="https://twitter.com/rag_sec" target="_blank">RagSec</a>,
            <a href="https://twitter.com/TheCyberViking" target="_blank">The_Cyber_Viking</a>,
            <a href="https://twitter.com/SecFenrir" target="_blank">FenrirSec</a>,
            <a href="https://twitter.com/frootware" target="_blank">Frootware</a> and many more people that gave me the
            guidance, motivation, and aide I needed. As of September 2019, I've joined
            <a href="https://twitter.com/BackSlashGroup" target="_blank">Backslash Intelligence Group</a> where I've
            been assisting in intelligence gathering and analysis.
        </p>

        <p>
            As I am writing this, it's late 2019. I can't say that I mastered anything but I am more knowledged about
            infosec than I previously was, pursuing a career and a path that I've been very interested in since I was a
            kid. I guess I can say I've never been happier, mainly thanks to all those people I met on The Many Hats
            Club.
        </p>
    </div>
</div>